/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
}

/* Root Container */
#root {
  overflow-x: hidden;
}

/* Header */
.head-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(254, 253, 253);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 1rem;
}

.logo h4 {
  font-size: 2.9rem;
  color: #000;
}

.head-list ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.head-list li {
  font-size: 1.8rem;
  margin-right: 2.2rem;
  font-weight: 500;
  color: rgb(140, 151, 151);
}

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;

}

@media (max-width: 768px) {

  /* Header */
  .head-container {
    flex-wrap: wrap;
    padding: 1rem 2rem;
    justify-content: space-between;

  }

  .menu-toggle {
    display: block;
    color: #a54e4e;

  }

  .head-list {
    display: none;
    width: 100%;
    padding: 1rem;

    background-color: rgb(234, 221, 247);
  }

  .head-list.open {
    display: flex;
    justify-content: center;
  }

  .head-list ul {
    flex-direction: column;

  }

  .head-list li {
    border: rgb(119, 117, 117) 2px solid;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.6rem;
  }

}

/* Body Section */
.body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(to bottom, #565555 1%, #ecf5fd 14%);
  padding: 16rem 14rem 5rem;
  gap: 4%;
}

.body-text h1 {
  text-align: justify;
  font-size: 4.6rem;
  color: #222;
  line-height: 1;
  letter-spacing: normal;
  word-spacing: 1%;
  margin-bottom: 1rem;
}

.body-text {
  flex: 1;
}

.body-text p {
  font-size: 2.3rem;
  color: #555;
}

.body-img {
  flex: 1;
}

.body-img img {
  width: 90%;
  height: 52vh;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.body-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: start;
  margin: 3rem 0rem;
}

.body-list li {
  list-style: none;
  background-color: #fff4e5;
  border-radius: 10px;
  padding: 0.8rem 1.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #020202;
  border: 1px solid #ddd;
}

/* Tablet View (768px - 1024px) */
@media screen and (max-width: 1024px) {
  .body-container {
    flex-direction: column;
    padding: 8rem 6rem 4rem;
    align-items: center;
    gap: 3rem;
  }

  .body-text h1 {
    font-size: 3.6rem;
    text-align: center;
  }

  .body-text p {
    font-size: 2rem;
    text-align: center;
  }

  .body-img img {
    height: 45vh;
    width: 100%;
  }

  .body-list ul {
    justify-content: center;
  }

  .body-list li {
    font-size: 1.5rem;
    padding: 0.6rem 1.2rem;
  }
}

/* Mobile View (up to 767px) */
@media screen and (max-width: 767px) {
  .body-container {
    padding: 12rem 2rem 3rem;
    gap: 2rem;
  }

  .body-text h1 {
    font-size: 2.8rem;
  }

  .body-text p {
    font-size: 1.6rem;
  }

  .body-img img {
    height: 35vh;
    width: 100%;
  }

  .body-list ul {
    gap: 1.5rem;
  }

  .body-list li {
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
  }
}

/* Choose Section */
.Choose-container {
  height: 80vh;
  padding: 3rem 15rem;
  background-color: white;
  text-align: center;
}

.Choose-container h1 {
  font-size: 4.5rem;
  margin: 4rem 0rem;
  color: #000;
}

.choose-cart {
  display: flex;
  flex-direction: row;
  gap: 2rem;

}

.cart {
  width: 40vw;
  padding: 1.5rem;
  border: 3px solid #ccc;
  border-radius: 10px;
  background-color: white;
}

.cart h2 {
  font-size: 2.2rem;
  color: #222;
  margin-bottom: 1rem;
}

.cart p {
  text-align: start;
  font-size: 1.9rem;
  padding: 0 2rem;
  color: #666;
}

/* Tablet View (max-width: 1024px) */
@media screen and (max-width: 1024px) {
  .Choose-container {
    padding: 3rem 6rem;
    height: auto;
  }

  .Choose-container h1 {
    font-size: 3.6rem;
    margin: 3rem 0;
  }

  .choose-cart {
    flex-direction: column;
    align-items: center;
  }

  .cart {
    width: 60vw;
    padding: 1.5rem;
  }

  .cart h2 {
    font-size: 2rem;
  }

  .cart p {
    font-size: 1.7rem;
    padding: 0 1.5rem;
  }
}

/* Mobile View (max-width: 767px) */
@media screen and (max-width: 767px) {
  .Choose-container {
    padding: 2rem;
    height: auto;
  }

  .Choose-container h1 {
    font-size: 2.6rem;
    margin: 2rem 0;
  }

  .choose-cart {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .cart {
    width: 90vw;
    padding: 1.2rem;
  }

  .cart h2 {
    font-size: 1.8rem;
  }

  .cart p {
    font-size: 1.5rem;
    padding: 0 1rem;
  }
}

/* Contact Section */
.contact-container {
  padding: 6rem 8rem;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: rgb(158, 158, 221);
}

.contact-head {
  margin-bottom: 4rem;
  padding: 0rem 11rem;
}

.contact-head h1 {
  font-size: 5rem;
  margin-bottom: 3.6rem;
  margin-top: 2rem;
}

.contact-head p {
  font-size: 2.8rem;
  color: #555;
  line-height: 1.6;
  max-width: 100%;
  margin: 0 auto;
}

.con-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  font-size: 2rem;
  font-weight: 600;
  color: #264187;
}

.con-list li {
  justify-content: space-evenly;
}

/* Tablet View (max-width: 1024px) */
@media screen and (max-width: 1024px) {
  .contact-container {
    padding: 4rem 4rem;
  }

  .contact-head h1 {
    font-size: 4rem;
  }

  .contact-head p {
    font-size: 2.2rem;

  }

  .con-list {
    flex-direction: column;
    font-size: 1.8rem;
  }
}

/* Mobile View (max-width: 767px) */
@media screen and (max-width: 767px) {
  .contact-container {
    padding: 3rem 02rem;
  }

  .contact-head {
    padding: 0rem 3rem;
  }

  .contact-head h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .contact-head p {
    font-size: 1.8rem;
    line-height: 1.4;
    border: #000;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .con-list {
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.6rem;
    text-align: center;
  }

  .con-list li {
    width: 100%;
    justify-content: center;
  }
}


/* productpage start */

.product-page {
  padding: 6rem 14rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  text-align: center;
  margin: 4rem auto;
}

.product-page h1 {
  font-size: 5rem;
  color: #222;
}

.subtitle {
  font-size: 1.6rem;
  color: #555;
  margin-bottom: 3rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 4rem;
}

.product-card {
  max-height: 650px;
  /* or whatever looks good */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  text-align: left;
  transition: transform 0.3s ease;

}

.product-card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 4.2rem;
  padding: 0rem 2rem;
}

.product-card h2 {
  font-size: 3.2rem;
  margin-top: 1rem;
  color: #333;
}

.desc {

  font-size: 1.8rem;
  padding: 2rem 2.9rem;
  color: #666;
}

.product-card img {
  width: 90%;
  height: 38%;
  object-fit: cover;
  border-radius: 8px;
  margin: 1rem auto;
  margin-bottom: 1rem;

}

.features {
  padding: 2rem 3.5rem;

}

.features h4 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #222;
}

.features ul {
  padding-left: 1.2rem;
}

.features li {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: #555;
}

/* productpage end */
/* Mobile */
@media (max-width: 768px) {
  .product-page {
    padding: 3rem 2rem;
    margin: 2rem auto;
  }

  .product-page h1 {
    font-size: 2.8rem;
  }

  .subtitle {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
  }

  .product-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .product-card {
    padding: 1.5rem;
  }

  .product-card h2 {
    font-size: 2.4rem;
  }

  .desc {
    font-size: 1.4rem;
    padding: 1rem;
  }

  .product-card img {
    width: 100%;
    min-height: 30%;
    margin-bottom: 1rem;
  }

  .features {
    padding: 1rem;
  }

  .features h4 {
    font-size: 1.6rem;
  }

  .features li {
    font-size: 1.4rem;
  }

  .icon {
    font-size: 3rem;
    padding: 0 1rem;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .product-page {
    padding: 4rem 4rem;
    margin: 3rem auto;
  }

  .product-page h1 {
    font-size: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    padding: 0 1rem;
  }

  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 3rem;
  }

  .product-card {
    padding: 2rem;
  }

  .product-card h2 {
    font-size: 2.8rem;
  }

  .desc {
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
  }

  .product-card img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .features {
    padding: 1.5rem 2rem;
  }

  .features h4 {
    font-size: 1.8rem;
  }

  .features li {
    font-size: 1.4rem;
  }

  .icon {
    font-size: 3.5rem;
    padding: 0 1.5rem;
  }
}

/* productpage end */

/* Sustainbility start */
.sustainability-page {
  background-color: #ebe8e8;
}

.sustainability {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 6rem 11rem;
  text-align: center;

}

.hero {
  text-align: center;
  line-height: normal;
  margin-bottom: 3rem;
}

.hero h1 {
  font-size: 5.2rem;
  color: #222;
  margin-bottom: 3rem;
}

.hero p {
  font-size: 2.2rem;
  color: #555;
  margin: 1rem auto;
}

.hero img {
  width: 100%;
  height: 70vh;
  border-radius: 8px;
  margin-top: 2rem;
}

.goals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.5rem;
  margin: 8rem 0;
}

.goal-card {
  background-color: #fff;
  padding: 4.2rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  text-align: center;
}

.goal-card span {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.goal-card p {
  font-size: 1.8rem;
  color: #333;
}

.journey h2 {
  text-align: center;
  font-size: 4.2rem;
  margin: 4rem 0rem;
  color: black;
}

.journey-steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.step-card {
  background-color: #fff;
  padding: 2rem;
  max-height: 82%;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 12px;
  text-align: center;
}

.step-number {
  background-color: #e6f4ea;
  color: #27ae60;
  font-weight: bold;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.step-card h3 {
  font-size: 2.2rem;
  color: #222;
  margin: 2.8rem 0rem;
}

.step-card img {
  width: 100%;
  height: 40%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.step-card p {
  margin-top: 3rem;
  font-size: 1.5rem;
  color: #555;
  text-align: start;
}

.impact {
  background-color: #e6f4ea;
  padding: 3rem 2rem;
  border-radius: 12px;
  margin-top: 4rem;
  text-align: center;
}

.impact h2 {
  font-size: 4rem;

  color: #222;
}

.impact-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.impact-card {
  padding: 8rem;
  border-radius: 12px;
  text-align: left;
}

.impact-card h3 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.impact-card ul {
  padding-left: 1.2rem;
}

.impact-card li {
  font-size: 2rem;
  color: #555;
  margin-bottom: 0.8rem;
}

/* Mobile Tweaks */
@media screen and (max-width: 768px) {
  .sustainability {
    padding: 3rem 1.5rem;
  }

  .hero h1 {
    font-size: 2.4rem;
  }

  .hero p {
    font-size: 1.6rem;
    padding: 0 4.5rem;
  }

  .hero img {
    height: auto;
    margin-top: 1.5rem;
  }

  .goals {
    grid-template-columns: 1fr;
    margin: 5rem 5rem;
    gap: 2rem;
  }

  .goal-card {
    padding: 2rem;
  }

  .goal-card span {
    font-size: 1rem;
  }

  .goal-card p {
    font-size: 1.4rem;
  }


  .journey {
    width: 100%;
  }

  .journey h2 {
    font-size: 2.4rem;
    margin: 3rem 0;
  }

  .journey-steps {
    grid-template-columns: 1fr;
    gap: 1px;
    justify-items: center;
  }

  .step-card {
    padding: 2.8rem 2rem;
    width: 80%;
    height: 88%;
    justify-content: center;
    align-items: center;
  }

  .step-number {
    font-size: 3rem;
    margin-bottom: 0.2rem;
  }

  .step-card h3 {
    font-size: 1.6rem;
    text-align: center;
    margin: 0.8rem 0;
  }

  .step-card p {
    font-size: 1rem;
    margin-top: 0.8rem;

  }

  .step-card img {
    height: 50%;
    margin-bottom: 0rem;
  }

  .impact h2 {
    font-size: 1.8rem;
  }

  .impact-cards {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .impact-card {
    padding: 2rem;
    text-align: center;
  }

  .impact-card h3 {
    font-size: 1.5rem;
  }

  .impact-card li {
    font-size: 1.4rem;
    list-style: circle;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .sustainability {
    padding: 4rem 3rem;
  }

  .hero h1 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }

  .hero p {
    font-size: 1.4rem;
    padding: 0rem 4srem;
  }

  .hero img {
    height: auto;
    margin-top: 2rem;
  }

  .goals {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
  }

  .goal-card {
    padding: 3rem;
  }

  .goal-card span {
    font-size: 3.5rem;
  }

  .goal-card p {
    font-size: 1.5rem;
  }

  .journey h2 {
    font-size: 3rem;
    margin: 3rem 0;
  }

  .journey-steps {
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    gap: 0;
  }

  .step-card {
    padding: 1.8rem;
    max-height: 92%;
  }

  .step-number {
    font-size: 3.5rem;
  }

  .step-card h3 {
    font-size: 1.4rem;
    margin: 0.4rem 0;
  }

  .step-card p {
    font-size: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 3rem;
  }

  .step-card img {
    width: 100%;
    height: 16vh;
    border-radius: 8px;
    margin-bottom: 0.2rem;
  }

  .impact h2 {
    font-size: 2.rem;
  }

  .impact-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0rem;
  }

  .impact-card {
    flex: 1;
    padding: 2rem;
    text-align: center;
  }

  .impact-card h3 {
    font-size: 1.5rem;
    text-align: start;
    padding: 0 1rem;
  }

  .impact-card li {
    font-size: 1rem;
    list-style: none;
    text-align: start;
  }
}

/* sustainbility end */


/* spentgrain end */
.case-study {

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 12rem 14rem;
  margin: auto;
  text-align: center;
  font-size: 2.4rem;
}

.case-study h1 {
  color: #0f0f0f;
  font-size: 4.5rem;
}

.case-study p {
  margin-bottom: 2rem;
  font-weight: 600;
  color: #757272;
}

.case-card {
  background: #f8fbfd;
  border-radius: 8px;
  padding: 1.5rem;
  height: 140vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.case-head {
  background-image: linear-gradient(to right, rgb(188, 188, 249), rgb(196, 237, 163));
  padding: 0rem;
}

.case-card h2 {
  color: #0f1010;
}

.case-card h4 {
  color: #888;
  margin-bottom: 1rem;
}

.case-content {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0 1.8rem;
  justify-content: center;
  text-align: left;
  margin-top: 2rem;
}

.case-left,
.case-right {
  flex: 1 1 400px;
}

.case-left img {
  width: 100%;
  height: 28%;
  border-radius: 8px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.section h3 {
  color: #222;
}

.section p {
  color: #555;
  font-size: 1.6rem;
}

.section ul {
  color: #555;
  font-size: 1.8rem;
  line-height: 1.6;
}

.section ul li {
  margin-bottom: 0.2rem;
}

.case-right {
  margin-bottom: 11rem;
  padding: 4rem;
  background-color: #d8d7d7a2;
  border-radius: 8px;
}

.case-right h3 {
  font-size: 2.8rem;
  color: #020202;
  margin-bottom: 2rem;
}

.case-right p {
  font-size: 1.6rem;
}

.case-right ul {
  padding-left: 1rem;
}

.case-right ul li {
  margin-bottom: 1rem;
  color: #555;
  font-size: 1.6rem;
}


/* Responsive */
/* ========================= */
/* Tablet View (up to 1024px) */
/* ========================= */
@media (max-width: 1024px) {
  .case-study {
    padding: 6rem 4rem;
    font-size: 2rem;
  }

  .case-study h1 {
    font-size: 3.6rem;
  }

  .case-study p {
    font-size: 1.6rem;
  }

  .case-card {
    height: auto;
    padding: 2rem;
  }

  .case-content {
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
  }

  .case-left,
  .case-right {
    flex: 1 1 100%;
  }

  .case-left img {
    height: auto;
    max-height: 320px;
    object-fit: cover;
  }

  .case-right {
    padding: 2rem;
    margin-bottom: 6rem;
  }

  .case-right h3,
  .section h3 {
    font-size: 2.4rem;
  }

  .case-right p,
  .case-right ul li,
  .section p,
  .section ul {
    font-size: 1.5rem;
  }
}

/* ========================= */
/* Mobile View (up to 767px) */
/* ========================= */
@media (max-width: 768px) {
  .case-study {
    padding: 4rem 2rem;
  }

  .case-study h1 {
    font-size: 2.5rem;
  }

  .case-study p {
    font-size: 1.2rem;
  }

  .case-card {
    padding: 1.5rem;
    box-shadow: none;
  }

  .case-card h2 {
    font-size: 1.5rem;
  }

  .case-card h4 {
    font-size: 1.5rem;
  }

  .case-content {
    gap: 1.5rem;
    padding: 0;
  }

  .case-left img {
    max-height: 220px;
    width: 100%;
    border-radius: 6px;
  }

  .section h3 {
    font-size: 0.5rem;
  }

  .section p {
    font-size: 0.4rem;
  }

  .section ul li {
    margin-bottom: 0.5rem;
  }
}


/* case study ends */

/* taste page start*/
.endorsement-container {
  max-width: 70vw;
  margin: auto;
  padding: 2rem;
  font-family: "Segoe UI", sans-serif;
}

.endorsement-right {
  background-color: #a7c0e3;
  min-height: 76vh;
}

.endorsement-title {
  text-align: center;
  font-size: 4.5rem;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 1rem;
}

.endorsement-subtitle {
  text-align: center;
  color: #6b7280;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.endorsement-card {

  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  padding: 2rem;
}

.endorsement-header {
  display: flex;
  min-height: 20vh;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #e5e7eb;
  background-image: linear-gradient(to right, rgb(228, 228, 245), rgb(234, 253, 191));
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.endorsement-avatar {
  width: 50vw;
  height: 20vh;
  display: flexbox;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  text-align: center;
}

.endorsement-avatar img {
  width: 6vw;
  height: 14vh;
  object-fit: cover;
  border-radius: 50%;
}

.chef-name {
  font-size: 2.8rem;
  margin: 0;
  font-weight: 600;
  color: #111827;
}

.chef-title {
  margin: 0;
  color: #6b7280;
  font-size: 1.8rem;
}

.endorsement-content {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.endorsement-left,
.endorsement-right {
  flex: 1;
  padding: 5.2rem;
}

.endorsement-left h4,
.endorsement-right h4 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #111827;
}

.endorsement-left p,
.endorsement-right p {
  font-size: 1.8rem;
  color: #606163;
  margin-bottom: 1rem;

}

.endorsement-left ul {
  margin-top: 4rem;
  padding-left: 1rem;
  list-style: none;
}

.endorsement-left li {
  display: flex;
  align-items: center;
  /* Vertically centers icon and text */
  gap: 1rem;
  /* Adds spacing between icon and text */
  margin-bottom: 1rem;
  color: #111;
  font-size: 1.4rem;
}

.chef-sign {
  margin-top: 5.5rem;
  font-style: italic;
  color: #374151;
  text-align: right;
}

.chef-sign span {
  display: block;
  font-style: normal;
  font-size: 1rem;
  color: #6b7280;

}

/* Responsive */
@media (max-width: 768px) {
  .endorsement-content {
    flex-direction: column;
  }

  .endorsement-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* taste page end*/

/* about page start */
.about {
  background-color: rgb(237, 235, 235);
  min-width: 100%;
  margin: 10rem 0rem;
}

.about-container {
  padding: 8rem 0rem;
  margin: auto;
  width: 70%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-container h1 {
  color: #111;
  font-size: 4.5rem;
  text-align: center;
}

.highlight {
  color: #0a870a;
}

.subheading {
  font-size: 2.4rem;
  color: #4b5563;
  margin-bottom: 2rem;
  text-align: center;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  background-color: #f9fafd;
  padding: 5rem 3rem;
  margin: 11rem 0rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 12px;

}

.about-box {
  background: #ffffff;
  padding: 1.5rem;
  flex: 1 1 45%;
}

.story-box {
  background-color: #f9fafb;
}

.story-box h2 {
  font-size: x-large;
  color: #020202;
  margin-bottom: 3rem;
}

.story-box p {
  color: #2c2d2d;
  font-size: 1.8rem;
  gap: 2rem;
}

.mission-box {
  background-color: #e6f7ec;
}

.section {
  margin-bottom: 1.5rem;
  padding: 3rem;
}

.section h3 {
  margin-bottom: 2.2rem;
  font-size: x-large;
}

.section p {
  color: #2c2d2d;
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .about-box {
    flex: 1 1 100%;
  }

  .about-container h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .subheading {
    font-size: 1rem;
  }
}

/* about page end */

/*  supply chain start*/
.supply {
  width: 100vw;

}

.supplychain-container {
  padding: 2rem;
  width: 70%;
  margin: auto;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.supplychain-container h1 {
  text-align: center;
  font-size: 5.5rem;
  margin-bottom: 1.5rem;
  color: #020202;
}

.subheading {
  text-align: center;
  font-size: 2.1rem;
  color: #4b5563;
  margin-bottom: 2rem;
}

.supplychain-box {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin-top: 3rem;
}

.brewery-heading {
  background-color: #e8f8ec;
  padding: 1rem;
  text-align: center;
  margin-top: 3rem;
}

.brewery-heading h2 {
  font-size: 3.5rem;
  color: #020202;
}

.brewery-subtext {
  color: #4b5563;
  font-size: 1.8rem;
  margin-top: 0.3rem;
}

.supplychain-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.supplychain-left {
  flex: 1 1 55%;
  min-width: 280px;
}

.supplychain-right {
  flex: 1 1 40%;
  min-width: 280px;
  padding-top: 2rem;
}

.brewery-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 1.8rem;
}

.supplychain-left p {
  margin-bottom: 1.4rem;
  color: #374151;
  font-size: 2.4rem;
  padding: 1rem 1.4rem;
}

.info-box {
  background-color: #e6f7ec;
  padding: 1rem;
  border-radius: 8px;
}

.info-box h3 {
  margin-bottom: 1rem;
  font-size: 3.2rem;
  color: #020202;
}

.info-box ul {
  list-style-type: none;
  padding-left: 0;
}

.info-box li {
  margin-bottom: 2.8rem;
  color: #2e2f31;
  font-size: 2rem;
}

.info-box a {
  color: #006400;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .supplychain-content {
    flex-direction: column;
    padding: 1.5rem;
  }

  .supplychain-container h1 {
    font-size: 1.5rem;
  }

  .subheading {
    font-size: 1rem;
  }
}

/*  supply chain end*/

/* RecipieSuggestion start */
.recipe-section {
  min-width: 70vw;
  text-align: center;
  padding: 2rem;
  margin: auto;
}

.recipe-head {
  min-width: 70vw;
  text-align: center;
  padding: 2rem;
  margin: auto;
}

.recipe-head h1 {
  font-size: 4.8rem;
  margin-bottom: 1rem;
  color: #111827;
}

.recipe-head p {
  font-size: 2.1rem;
  color: #4f5863;
  margin-bottom: 3rem;
  padding: 0rem 19rem;
}

.recipe-grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  max-width: 480px;
  width: 100%;
  text-align: left;
  transition: transform 0.3s ease;
}

.recipe-card:hover {
  transform: scale(1.03);
}

.recipe-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.recipe-card h3 {
  color: #1f2937;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.recipe-card p {
  font-size: 0.95rem;
  color: #4b5563;
  margin-bottom: 1rem;
}

.recipe-card h4 {
  font-size: 1rem;
  color: #111827;
  margin-bottom: 0.5rem;
}

.recipe-card ul {
  list-style-type: none;
  padding: 0;
}

.recipe-card li {
  margin-bottom: 0.3rem;
  font-size: 0.95rem;
  color: #374151;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .recipe-grid {
    justify-content: center;
  }

  .recipe-card {
    max-width: 45%;
  }
}

@media (max-width: 768px) {
  .recipe-card {
    max-width: 100%;
  }

  .recipe-section h1 {
    font-size: 2rem;
  }

  .recipe-section p {
    font-size: 1rem;
  }
}

/* RecipeSuggestion end */

/* fiber start */
.fiber-container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  font-family: sans-serif;
  text-align: center;
}

.fiber-container h1 {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
  color: #111827;
}

.fiber-container p {
  font-size: 1rem;
  color: #4b5563;
  margin-bottom: 2rem;
}

/* Section Box Styles */
.fiber-box,
.fiber-gap,
.fiber-benefits,
.fiber-tips {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: left;
}

/* What is Fiber */
.fiber-types {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

.fiber-types div {
  flex: 1;
}

/* Fiber Gap */
.fiber-gap {
  background-color: #fef2f2;
}

.fiber-stats {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.fiber-stats div {
  background: white;
  border-radius: 8px;
  padding: 1rem;
  flex: 1;
}

.fiber-stats strong {
  font-size: 2rem;
  color: #dc2626;
}

/* Fiber Benefits */
.fiber-benefits {
  background-color: #ecfdf5;
}

.benefits-grid {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.benefits-grid div {
  flex: 1;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
}

/* Fiber Tips */
.fiber-tips ul {
  list-style: none;
  padding: 0;
}

.fiber-tips li {
  margin-bottom: 1.5rem;
}

.fiber-tips strong {
  color: #059669;
}

/* Responsive Styles */
@media (max-width: 992px) {

  .fiber-types,
  .benefits-grid {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .fiber-container h1 {
    font-size: 2rem;
  }

  .fiber-stats {
    flex-direction: column;
  }

  .fiber-stats div {
    margin-bottom: 1rem;
  }
}

/* fiber end */

/* spentgrain start */
.spentgrain-page {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  padding: 2rem;
  width: 70vw;
  margin: 0 auto;
}

.intro {
  text-align: center;

  margin-bottom: 7rem;
  margin-top: 10rem;
}

.intro h1 {
  font-size: 5.5rem;
  color: #222;
}

.intro p {
  font-size: 2.4rem;
  color: #555;
  margin-top: 1rem;


}

.magic-section {
  display: flex;
  padding: 0rem 5rem;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  margin-bottom: 4rem;
}

.magic-text {
  flex: 1;
  padding: 0rem 4rem;

}

.magic-text h2 {
  font-size: 3.8rem;
  color: #222;
  margin-bottom: 1rem;
}

.magic-text p {
  font-size: 2.2rem;
  color: #555;
  margin-bottom: 1rem;
}

.magic-text ul {
  list-style: none;
  padding: 0;
}

.magic-text li {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.magic-image img {
  width: 100%;
  border-radius: 8px;
}

.brewery-container {
  padding: 2rem;
  max-width: 65vw;
  margin: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #111;
}

.brewery-content {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.brewery-image {
  flex: 1 1 350px;
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.journey-text {
  flex: 1 1 300px;
}

.journey-text h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #111;
}

.journey-text ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.journey-text li {
  color: #020202;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
}

.step-number {
  background-color: #00b96b;
  color: white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  margin-right: 10px;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .brewery-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .journey-text {
    text-align: left;
  }
}

.future-section {
  background-color: #eaf8ed;
  border-radius: 12px;
  padding: 8rem 2rem;
  margin-top: 3rem;
  text-align: center;
  max-width: 65vw;
  align-items: center;
  margin-left: 1.5vw;
  color: #020202;
}

.future-section h2 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.future-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
}

.future-card {
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.future-card h4 {
  font-size: 1.8rem;
  margin: 1rem 0 0.5rem;
}

.future-card p {
  font-size: 1rem;
  color: #555;
}

.future-card svg {
  font-size: 3rem;
  color: #27ae60;
}

/* spent grain end */

/* footer start */
.footer {
  background-color: #0c1325;
  color: #fff;
  padding: 3rem 2rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

.footer-section {

  min-width: 250px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-logo img {
  width: 30px;
  height: 30px;
}

.footer-logo h3 {
  font-size: 2.6rem;
  font-weight: bold;
}

.footer-section p {
  font-size: 1.4rem;
  color: #ccc;
  margin-top: 1rem;
  line-height: 1.5;
}

.footer-section h4 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #fff;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  color: #ccc;
  cursor: pointer;
}

.footer-section ul li:hover {
  text-decoration: underline;
}

.contact-list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

hr {
  border: none;
  border-top: 1px solid #333;
  margin: 2rem 0;
}

.footer-bottom {
  text-align: center;
  font-size: 1.1rem;
  color: #aaa;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* footer ends */